<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desciption" content="Info Games es tu fuente de reseñas, demostraciones, actualizaciones sobre todos tus juegos favoritos.">
    <meta name="keywords" content="noticias pc gaming comunidad juegos lanzamientos">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Glider.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Info Games</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <header class="header">
                <a class="header__link" href="../home.html">
                    <img loading="lazy" class="header__img" src="../assets/icons/logo.svg" alt="brand">
                </a>
                <h1 class="header__text">
                    INFO<span class="header__text--games">GAMES</span>
                </h1>
            </header>
        </div>
        <div class="row container-fluid">
            <div class="col-12 col-lg  col-md-1 m-0 p-0 ">
                <nav id="top" class="nav ">  
                    <ul class="nav__ul">
                        <li class="nav__item"><a class="nav__link" href="../home.html"><div class="home" ></div><span class="nav__text">HOME</span></a></li>
                        <li class="nav__item"><a class="nav__link" href="category.html"><div class="joystick" ></div><span class="nav__text">CATEGORIAS</span></a></li>
                        <li class="nav__item"><a class="nav__link" href="community.html"><div class="users"></div><span class="nav__text">COMUNIDAD</span></a></li>
                        <li class="nav__item"><a class="nav__link" href="aboutus.html"><div class="user"></div><span class="nav__text">AYUDA</span></a></li>
                        <li class="nav__item"><a class="nav__link" href="singup.html"><div class="question"></div><span class="nav__text">REGISTRATE</span></a></li>
                    </ul>
                </nav>
            </div>
            <main class="main col-12 col-md-11 col-lg" >    
            <!-- Section Q&A -->
            <div class="container-fluid">
                <div class="aboutus">
                    <header class="aboutus__header--title">
                        <h2 class="aboutus__title">Preguntas Frecuentes</h2>
                        <p class="aboutus__description"> En esta seccion podras encontrar las preguntas mas frecuentes de INFO GAMES</p>
                    </header> 
                </div>
                <div class="container__accordion">
                    <div class="accordion">
                        <div class="accordion__item" id="question1">
                            <a class="accordion__link" href="#question1">
                                ¿Que es Info Games?
                                <img loading="lazy" class="addition__icon" src="../assets/icons/addition-symbol.svg" alt="addition">
                                <img loading="lazy" class="substract__icon" src="../assets/icons/substract-symbol.svg" alt="substract">
                            </a>
                            <div class="answer">
                                <p>Info Games es una pagina web dedicada a juegos de pc, en la cual podras informarte  y ser parte de la pequeña comunidad.</p> 
                            </div>
                        </div>
                        <div class="accordion__item" id="question2">
                            <a class="accordion__link" href="#question2">
                                ¿Que reglas hay en Info Games?
                                <img loading="lazy" class="addition__icon" src="../assets/icons/addition-symbol.svg" alt="addition">
                                <img loading="lazy" class="substract__icon" src="../assets/icons/substract-symbol.svg" alt="substract">
                            </a>
                            <div class="answer">
                                <p>Tenemos reglas en Info games y estan en la seccion TÉRMINOS Y CONDICIONES.</p>
                            </div>
                        </div>
                        <div class="accordion__item" id="question3">
                            <a class="accordion__link" href="#question3">
                                ¿Quienes son los miembros de Info Games?
                                <img loading="lazy" class="addition__icon" src="../assets/icons/addition-symbol.svg" alt="addition">
                                <img loading="lazy" class="substract__icon" src="../assets/icons/substract-symbol.svg" alt="substract">
                            </a>
                            <div class="answer">
                                <p>Podes saber quienes son los miembros principales de Info games en la seccion COMUNIDAD.</p> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            </main>
        </div>
        <div class="row d-none d-md-block d-lg-block">
            <!-- Footer -->
            <footer class="row col-md col-lg footer">
                <ul class="footer__list col-md-6 col-lg-6">
                    <li class="footer__item"><a class="footer__link" href="#top">Ir arriba</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Politica de Privacidad</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Terminos y condiciones</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Contactos</a></li>
                </ul>
                <div class="col-md-6 col-lg-6 footer__copy"><a class="footer__link--copy" href="./../home.html">Copyright© 2021 Info Games</a></div>
            </footer>
        </div>  
    </div>
    <script src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

