<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Info Games</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="../home.html">
                <img loading="lazy" class="header__imgLogo" src="../assets/icons/logo.svg" alt="brand">
            </a>
            <p class="header__textLogo--info">INFO<span class="header__textLogo--games">GAMES</span></p>
        </header>
        <!--nav -->
        <nav id="top" class="nav">
            <ul>
                <li><a href="../home.html"><img loading="lazy" class="nav__icons" src="../assets/icons/home.svg" alt="category icon"><span class="nav__text">HOME</span></a></li>
                <li><a href="category.html"><img loading="lazy" class="nav__icons" src="../assets/icons/palanca-de-mando.svg" alt="category icon"><span class="nav__text">CATEGORIAS</span></a></li>
                <li><a href="community.html"><img loading="lazy" class="nav__icons" src="../assets/icons/multiple-users-silhouette.svg" alt="category icon"><span class="nav__text">COMUNIDAD</span></a></li>
                <li><a href="aboutus.html"><img loading="lazy" class="nav__icons" src="../assets/icons/signo-de-pregunta.svg" alt="category icon"><span class="nav__text">AYUDA</span></a></li>
                <li><a href="singup.html"><img loading="lazy" class="nav__icons" src="../assets/icons/forma-de-usuario.svg" alt="category icon"><span class="nav__text">REGISTRATE</span></a></li>
            </ul>
        </nav>
        <main class="main">
            <section class="section">
                <header class="section__header">
                    <h3 class="section__title">Comunidad Info Games</h3>
                    <div class="section__info--box">
                        Usuarios:
                        <span class="section__info--box-2">+2134</span>
                    </div>
                </header>
                <div class="comunity">
                    <h3 class="comunity__title">Administradores y colaboradores:</h3>
                    <div class="section__body">
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Roman</p>
                                <p class="card__text">Administrador</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Sergio</p>
                                <p class="card__text">Administrador</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Maria</p>
                                <p class="card__text">Administrador</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Damian</p>
                                <p class="card__text">Administrador</p>
                            </div>
                        </div>
                    </div>
                    <h3 class="comunity__title">Usuarios registrados:</h3>
                    <div class="section__body">
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../games/adventure/Crash_Bandicoot_4/images/Crash_Bandicoot_4_Its_About_Time.jpg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">SpotRagnarok</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">pedroCod</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">SeriousMan</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">PostalDude</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Slayer2021</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">MarioHd</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <img loading="lazy" class="card__img"src="../assets/icons/forma-de-usuario.svg" alt="image-user">
                            </div>
                            <div class="card__info">
                                <p class="card__title">Gonza666</p>
                                <p class="card__text">Principiante</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__picture">
                                <div class="card__img card__img--continue"><p>+2134 Usuarios</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="footer">
            <ul class="footer__list">
                <li><a class="footer__link" href="#top">Ir arriba</a></li>
                <li><a class="footer__link" href="#">Politica de Privacidad</a></li>
                <li><a class="footer__link" href="#">Terminos y condiciones</a></li>
                <li><a class="footer__link" href="#">Contactos</a></li>
            </ul>
            <div class="footer__copy"><a class="footer__link" href="../home.html">Copyright© 2021 Info Games</a></div>
        </footer>
    </div>
</body>
</html>