@import 'layout/header',
        'layout/navbar',
        'layout/footer';

@import 'components/buttons',
        'components/sliders',
        'components/card';
        

@include media-up(xs){
    .points{
        margin:map-get($spacers,4)  map-get($spacers,4);

        font-size:$font-size-base-sm;
        max-width: 1300px;
        @include dislayPosition(f,center,center);
        .points__img{
            text-align: center;
            width: 25em;
            max-height: auto;
            object-fit: cover;
            img{
                @include dislayPosition(f,center,center);
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: $box-shadow-1;
                border-radius: 1em;

            }
        }
        .points__score{
            background-color: map-get($grays ,2);
            box-shadow: $box-shadow-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
            border-radius: 1em;
            width: 100%;
        }
        .points__header{
            font: {
                family: $family-title;
            }
            padding:map-get($spacers,4)  map-get($spacers,2);
            letter-spacing: .1em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .points__title{
            font-size: 1.3em;
            font-weight: 600;
            text-align: center;
        }
        .points__rating{
            border-radius: 1em;
            border:none;
        }
        .points__item{
            text-align: center;
            padding:map-get($spacers,2)  map-get($spacers,3);
        }
        .points__item--start{
            @include dislayPosition(f,center,center);
            text-align: center;
            border-left: none;
        }
        .points__rating__img--start {
            margin: 0 map-get($spacers,3) ;
            height: 2.2em;
            width: 2.2em;
            filter:$shadow-drop-2;
            background-color:$box-shadow-6;
        }
        .points__rating__content{
            padding: 0 map-get($spacers,3 );
            &--total{
                @include dislayPosition(ib,n,n);
                font-size: 2em;
                font-weight: 600;
            }
            &--min{
                @include dislayPosition(ib,n,n);
                font-size: 1.2em;
                font-weight: 400;
            }
        }

        .points__area{
            font: {
                family: $family-text;
                size: .9em;
                weight: 600;
            }
            color:map-get($colors,"white" );
            letter-spacing: .1rem;
            white-space: nowrap;
        }
        .points__number{
            font-size: 1.5em;
            font-weight:600;
            text-align: center;
        }
        .points__text{
            padding: 0 map-get($spacers,3 );
            text-align: center;
            font: {
                family: $family-text;
                size: 1em;
                weight: 300;
            }
            color:map-get($whites,3);
        }
        .points__item--btns{
            a{
                text-decoration: none;
                list-style-type: none;
            }
            @include dislayPosition(f,s-b,center);
            width: 100%;
      
            .points__btn--gameplay{
                @include genericBtn(map-get($colors, "red"));
             
                width: 100%;
        
                &:hover{
                    @include hoverBtns($box-shadow-3);
                }

            }
            .poinst__icon:hover{
                @include hoverIcons($filter-1);
            }
            .points__icon{
                height: 1.2em;
                width: 1.2em;
                margin-right: map-get($spacers,1 );
            
            }
            .points__btn--buy{
          
                @include genericBtn(map-get($colors, "orange"));
                
                width: 100%;
                &:hover{
                    @include hoverBtns($box-shadow-7);
                }
            }
        }
    }
    .information{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-xs;
        .information__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
            
        }   
        .information__title{
            margin:0;
            font: {
                size: 2em;
                family:$family-title;
            } 
        }
        .information__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .information__text{
            font-size: 1.5em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
        .information__icon{
            object-fit: cover;
            background-position: center;
            background-size: cover;
            height: 2.5em;
            border:map-get($grays,2);
            vertical-align: middle;
            &--flags{
                height: 1em;
            }
            &--1{
                height: 2.5em;
                margin-left: 1em;
                margin-top: .1em ;
                margin-bottom: 1em ;
                border:map-get($grays,2);
                vertical-align: middle;
                border-radius: 5em;
                box-shadow:$box-shadow-5;
            }
            &--2{
                height: 2.5em;
                margin-left: 1em;
                margin-top: .1em ;
                margin-bottom: 1em ;
             
                border:map-get($grays,2);
                vertical-align: middle;
                filter: $shadow-drop-1;    
            }
        }
    }
    .requirements{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-xs;
        .requirements__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }  
        .requirements__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .requirements__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .requirements__subtitle{
            line-height: 1.8;
            font: {
                size: 1.8em;
                weight:600;
            }
        }
        .requirements__text{
            font-size: 1.3em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
    }
    .related{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-xs;
        .related__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }
        .related__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .related__content{
            padding:map-get($spacers,3) map-get($spacers,3); 
            box-shadow: $box-shadow-1;
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            position:relative;
         
        }  
        a{
            text-decoration: none;
            list-style: none;
        }
        .col-center {
            margin: 0 auto;
            float: none !important;
        }
        .carousel {	
         
        }
        .item {
            text-align: center;
            overflow: hidden;
        }
        .carousel-control {
            width: 60px;
            background: none;
            position:absolute;
            display:block;
            height: 2em;
            width: 1em;
            border:none;
            top:calc(50% - 20%);
        }
        i {
            font-size: 20px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: -1em;
            right: -1em;
            color:map-get($colors,"white");
            text-shadow: $box-shadow-2;
        }
    
    }

}

@include media-up(sm){
    .points{
        font-size:$font-size-base-sm;
        max-width: 1300px;
        @include dislayPosition(f,center,center);
        .points__img{
            text-align: center;
            width: 25em;
            max-height: auto;
            object-fit: cover;
            img{
                @include dislayPosition(f,center,center);
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: $box-shadow-1;
                border-radius: 1em;
            }
        }
        .points__score{
            background-color: map-get($grays ,2);
            box-shadow: $box-shadow-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
            border-radius: 1em;
            width: 100%;
        }
        .points__header{
            font: {
                family: $family-title;
            }
            padding:map-get($spacers,4)  map-get($spacers,4);
            white-space: nowrap;
            letter-spacing: .1em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .points__title{
            font-size: 1.8em;
            font-weight: 600;
            text-align: center;
        }
        .points__rating{
            border-radius: 1em;
            border:none;
        }
        .points__item{
            text-align: center;
            padding:map-get($spacers,2)  map-get($spacers,4);
        }
        .points__item--start{
            @include dislayPosition(f,center,center);
            text-align: center;
            border-left: none;
        }
        .points__rating__img--start {
            margin: 0 map-get($spacers,3) ;
            height: 2.5em;
            width: 2.5em;
            filter:$shadow-drop-2;
            background-color:$box-shadow-6;
        }
        .points__rating__content{
            &--total{
                @include dislayPosition(ib,n,n);
                font-size: 2em;
                font-weight: 600;
            }
            &--min{
                @include dislayPosition(ib,n,n);
                font-size: 1.2em;
                font-weight: 400;
            }
        }

        .points__area{
            font: {
                family: $family-text;
                size: 1.2em;
                weight: 600;
            }
            color:map-get($colors,"white" );
            letter-spacing: .1rem;
            white-space: nowrap;
        }
        .points__number{
            font-size: 1.5em;
            font-weight:600;
        }
        .points__text{
            text-align: left;
            font: {
                family: $family-text;
                size: 1.3em;
                weight: 300;
            }
            color:map-get($whites,3);
        }
        .points__item--btns{
            @include dislayPosition(f,s-b,center);
            .points__btn--gameplay{
                @include genericBtn(map-get($colors, "red"));
        
                &:hover{
                    @include hoverBtns($box-shadow-3);
                }
            }
            .poinst__icon:hover{
                @include hoverIcons($filter-1);
            }
            .points__icon{
                height: 1.2em;
                width: 1.2em;
                margin-right: map-get($spacers,1 );
            
            }
            .points__btn--buy{
                @include genericBtn(map-get($colors, "orange"));
                &:hover{
                    @include hoverBtns($box-shadow-7);
                }
            }
        }
    }
    .information{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-sm;
        .information__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
            
        }   
        .information__title{
            margin:0;
            font: {
                size: 2.5em;
                family:$family-title;
            } 
        }
        .information__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .information__text{
            font-size: 1.5em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
        .information__icon{
            object-fit: cover;
            background-position: center;
            background-size: cover;
            height: 2.5em;
            border:map-get($grays,2);
            vertical-align: middle;
            &--flags{
                height: 1.3em;
            }
            &--1{
                height: 2.5em;
                margin-left: 1em;
                border:map-get($grays,2);
                vertical-align: middle;
                border-radius: 5em;
                box-shadow:$box-shadow-5;
            }
            &--2{
                height: 2.5em;
                margin-left: 1em;
                border:map-get($grays,2);
                vertical-align: middle;
                filter: $shadow-drop-1;    
            }
        }
    }
    .requirements{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-sm;
        .requirements__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }  
        .requirements__title{
            padding:0;
            font: {
                size: 2.5em;
                family:$family-title;
            }
        } 
        .requirements__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .requirements__subtitle{
            line-height: 1.8;
            font: {
                size: 2em;
                weight:600;
            }
        }
        .requirements__text{
            font-size: 1.3em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
    }
    .related{
        margin:map-get($spacers,4)  map-get($spacers,4);
        font-size:$font-size-base-sm;
        .related__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }
        .related__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .related__content{
            padding:map-get($spacers,3) map-get($spacers,3); 
            box-shadow: $box-shadow-1;
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            position:relative;
        }  
        a{
            text-decoration: none;
            list-style: none;
        }
        .col-center {
            margin: 0 auto;
            float: none !important;
        }
        .carousel {	
         
        }
        .item {
            text-align: center;
            overflow: hidden;
        }
        .carousel-control {
            width: 60px;
            background: none;
            position:absolute;
            display:block;
            height: 2em;
            width: 1em;
            border:none;
            top:calc(50% - 10%);
        }
        i {
            font-size: 20px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: -2em;
            right: -2em;
            color:map-get($colors,"white");
            text-shadow: $box-shadow-2;
        }
    
    }

}
@include media-up(md){
    .points{
        font-size:$font-size-base-md;
        @include dislayPosition(f,center,center);
        .points__img{
            text-align: center;
            width: 22em;
            max-height: auto;
            object-fit: cover;
            img{
                @include dislayPosition(f,center,center);
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: $box-shadow-1;
                border-radius: 1rem;

            }
        }
        .points__score{
            background-color: map-get($grays ,3);
            box-shadow: $box-shadow-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
            border-radius: 1rem;
            width: 100%;
            padding:map-get($spacers,4);
        }
        .points__header{
    
            font: {
                family: $family-title;
            }
            @include dislayPosition(f,s-b,f-start);
  
            white-space: nowrap;
            letter-spacing: .1em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .points__title{
            font-size: 3em;
            font-weight: 600;
            text-align: center;
            margin:0 auto;
        }
        .points__rating{
            margin:0 map-get($spacers,3);
            border-radius: 1em;
            border:none;
        }
        .points__item{
            text-align: center;
            margin: map-get($spacers,1 ) 0;
        }
        .points__item--start{
            @include dislayPosition(f,center,center);
            text-align: center;
            border-left: none;
        }
        .points__rating__img--start {
            margin: 0 map-get($spacers,3) ;
            height: 3em;
            width: 3em;
            filter:$shadow-drop-2;
            background-color:$box-shadow-6;
        }
        .points__rating__content{
            &--total{
                @include dislayPosition(ib,n,n);
                font-size: 3em;
                font-weight: 600;
            }
            &--min{
                @include dislayPosition(ib,n,n);
                font-size: 2em;
                font-weight: 400;
            }
        }

        .points__area{
            font: {
                family: $family-text;
                size: 1.5em;
                weight: 600;
            }
            color:map-get($colors,"white" );
            margin: map-get($spacers,1) 0 0 0 ;
            letter-spacing: .1rem;
            white-space: nowrap;
        }
        .points__number{
            font-size: 2.5em;
            font-weight:600;
        }
        .points__text{
            text-align: left;
            margin: map-get($spacers,2) map-get($spacers,2) 0 map-get($spacers,2) ;
            font: {
                family: $family-text;
                size: 1.2em;
                weight: 300;
            }
            color:map-get($whites,3);
        }
        .points__item--btns{
            @include dislayPosition(f,s-b,center);
            padding:map-get($spacers,4);
            .points__btn--gameplay{
                @include genericBtn(map-get($colors, "red"));
                font-size: 1.2em;
                &:hover{
                    @include hoverBtns($box-shadow-3);
                }

            }
            .poinst__icon:hover{
                @include hoverIcons($filter-1);
            }
            .points__icon{
                height: 1.2em;
                width: 1.2em;
                margin-right: map-get($spacers,1 );
            
            }
            .points__btn--buy{
                @include genericBtn(map-get($colors, "orange"));
                font-size: 1.2em;
        
                &:hover{
                    @include hoverBtns($box-shadow-7);
                }
            }
        }
    }
    .information{
        margin:map-get($spacers,6)  map-get($spacers,4);
        font-size:$font-size-base;
        .information__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
            
        }   
        .information__title{
            margin:0;
            font: {
                size: 2em;
                family:$family-title;
            } 
        }
        .information__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .information__text{
            font-size: 1.1em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
        .information__icon{
            object-fit: cover;
            background-position: center;
            background-size: cover;
            height: 2.5em;
            border:map-get($grays,2);
            vertical-align: middle;
            &--flags{
                height: 1.3em;
            }
            &--1{
                height: 2em;
                margin-left: .5em;
                border:map-get($grays,2);
                vertical-align: middle;
                border-radius: 5em;
                box-shadow:$box-shadow-5;
            }
            &--2{
                height: 2em;
                margin-left: .5em;
                border:map-get($grays,2);
                vertical-align: middle;
                filter: $shadow-drop-1;    
            }
        }
    }
    .requirements{
        margin:map-get($spacers,6)  map-get($spacers,4);
        font-size:$font-size-base-md;
        .requirements__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }  
        .requirements__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .requirements__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 1em 0 0;
            }
            &--2{
                border-radius: 0 0 1em 1em;
            }
        }
        .requirements__subtitle{
            line-height: 1.8;
            font: {
                size: 1.5em;
                weight:600;
            }
        }
        .requirements__text{
            font-size: 1.1em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
    }
    .related{
        margin:map-get($spacers,6)  map-get($spacers,4);
        font-size:$font-size-base-md;
        .related__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 100%;
        }
        .related__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .related__content{
       
            box-shadow: $box-shadow-1;
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            position:relative;
        }  
        a{
            text-decoration: none;
            list-style: none;
        }
        .col-center {
            margin: 0 auto;
            float: none !important;
        }
        .carousel {	
            margin:map-get($spacers,1) map-get($spacers,1);
        }
        .item {
            text-align: center;
            overflow: hidden;
        }
        .carousel-control {
            width: 68px;
            background: none;
            position:absolute;
            display:block;
            height: 2em;
            width: 1em;
            border:none;
            top:calc(50% - 10%);
        }
        i {
            font-size: 30px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: 0;
            right: 0;
            color:map-get($colors,"white");
            text-shadow: $box-shadow-2;
        }
    
    }

}
@include media-up(lg){
    .points{
        margin:map-get($spacers ,5) auto;
        font-size:$font-size-base;
         width: 100%;
        .points__img{
            object-fit: contain;
            img{
                @include dislayPosition(f,center,center);
                object-fit: contain;
                box-shadow: $box-shadow-1;
                border-radius: 1rem;
            }
        }
        .points__score{
            background-color: map-get($grays ,3);
            box-shadow: $box-shadow-2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
            border-radius: 1rem;
            width: 100%;
        }
        .points__header{
            padding: 0;
            font: {
                family: $family-title;
                
            }
            @include dislayPosition(f,s-b,f-start);
            margin:map-get($spacers,4);
            padding: 0 map-get($spacers,4);
            white-space: nowrap;
            letter-spacing: .1em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .points__title{
            font-size:2.5em;
            font-weight: 600;
            padding: 0;
            margin:0;
            margin-top: map-get($spacers,4);
        }
        .points__rating{
            margin:0 map-get($spacers,3);
            border-radius: 1em;
            border:none;
        }
        .points__item{
            text-align: center;
        }
        .points__item--start{
            @include dislayPosition(f,center,center);
            text-align: center;
            border-left: none;
        }
        .points__rating__img--start {
            margin: 0 map-get($spacers,3) ;
            height: 4em;
            width: 4em;
            filter:$shadow-drop-2;
            background-color:$box-shadow-6;
        }
        .points__rating__content{
            &--total{
                @include dislayPosition(ib,n,n);
                font-size: 3em;
                font-weight: 600;
            }
            &--min{
                @include dislayPosition(ib,n,n);
                font-size: 1.5em;
                font-weight: 400;
            }
        }
        .points__area{
            font: {
                family: $family-text;
                size: 1.5em;
                weight: 600;
            }
            color:map-get($colors,"white" );
            margin: map-get($spacers,1) 0 0 0 ;
            letter-spacing: .1rem;
            white-space: nowrap;
        }
        .points__number{
            font-size: 3em;
            font-weight:600;
        }
        .points__text{
            text-align: left;
           
            font: {
                family: $family-text;
                size: 1.2em;
                weight: 300;
            }
            color:map-get($whites,3);
        }
        .points__item--btns{
            a{
                text-decoration: none;
                list-style: none;
            }
            @include dislayPosition(f,s-b,center);
            .points__btn--gameplay{
                @include genericBtn(map-get($colors, "red"));
                &:hover{
                    @include hoverBtns($box-shadow-3);
                }
            }
            .poinst__icon:hover{
                @include hoverIcons($filter-1);
            }
            .points__icon{
                height: 1.2em;
                width: 1.2em;
                margin-right: map-get($spacers,1 );
            }
            .points__btn--buy{
                @include genericBtn(map-get($colors, "orange"));
                &:hover{
                    @include hoverBtns($box-shadow-7);
                }
            }
        }
    }
    
    .information{
        margin:map-get($spacers,6)  map-get($spacers,4);
        font-size:$font-size-base;
        .information__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 50%;
        }   
        .information__title{
            font: {
                size: 2em;
                family:$family-title;
            }
        }
        .information__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 0 0 1em;
            }
            &--2{
                border-radius: 0 1em 1em 0;
            }
        }
        .information__text{
            font-size: 1.1em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
        .information__icon{
            object-fit: cover;
            background-position: center;
            background-size: cover;
            height: 2.5em;
            border:map-get($grays,2);
            vertical-align: middle;
            &--flags{
               
                height: 1.3em;
            }
            &--1{
                height: 2em;
                margin-left: .5em;
                border:map-get($grays,2);
                vertical-align: middle;
                border-radius: 5em;
                box-shadow:$box-shadow-5;
            }
            &--2{
                height: 2em;
                margin-left: .5em;
                border:map-get($grays,2);
                vertical-align: middle;
                filter: $shadow-drop-1;    
            }
        }
    }
    .requirements{
        margin:map-get($spacers,6)  map-get($spacers,4);
        font-size:$font-size-base;
        .requirements__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 50%;
        }  
        .requirements__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .requirements__content{
            box-shadow: $box-shadow-1;
            padding:map-get($spacers,4) map-get($spacers,4); 
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            &--1{
                border-radius: 0 0 0 1em;
            }
            &--2{
                border-radius: 0 1em 1em 0;
            }
        }
        .requirements__subtitle{
            line-height: 1.8;
            font: {
                size: 1.5em;
                weight:600;
            }
        }
        .requirements__text{
            font-size: 1.1em;
            line-height: 1.8;
            color: map-get($colors,"white");
            &--2{
                font-size: 1.1em;
                line-height: 1.8;
                color: map-get($whites,3);
                padding-left: 0.4em;
            }
        }
    }
    .related{
        font-size:$font-size-base;
        margin:map-get($spacers,6)  map-get($spacers,4);
        .related__header{
            border-radius: 1em 1em 0 0;    
            background-color: map-get($grays,3);
            padding:map-get($spacers,1) map-get($spacers,4); 
            width: 50%;
        }
        .related__title{
            padding:0;
            font: {
                size: 2em;
                family:$family-title;
            }
        } 
        .related__content{
            box-shadow: $box-shadow-1;
            border-radius: 0 1em 1em 1em;
            background-color: map-get($whites,0);
            position:relative;
        }  
        a{
            text-decoration: none;
            list-style: none;
        }
        .col-center {
            margin: 0 auto;
            float: none !important;
        }
        .item {
            text-align: center;
            overflow: hidden;
        }
        .carousel-control {
            width: 68px;
            background: none;
            position:absolute;
            display:block;
            height: 10em;
            width: 2em;
            border:none;
            top:calc(50% - 32%);
        }
        i {
            font-size: 28px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: 0;
            right: 0;
            color:map-get($colors,"white");
            text-shadow: $box-shadow-2;
        }
    
    }



}