@include media-up (xs){
    .nav{
        a{
            text-decoration: none;
            list-style-type: none;
        }
        background-color:map-get($grays,3 );
        font-size: $font-size-base-xs;
        position: fixed;
        z-index: 2;
        bottom:0;
        right: 0;
        left: 0;
        width: 100%;

        background-color:$box-shadow-2;
        &__ul{
            overflow-x: hidden;
            width: 100%;
            @include dislayPosition(f,s-a,center);
            margin: 0 1em;
            padding: 1em 0;

        }
        &__item{
            position: relative;
            width: 100%;
            margin: 0 map-get($spacers,3);
        }
        &__link{
            @include dislayPosition(f,s-a,center);
            margin:0;
            flex-direction: column;
         
        }
        &__item:hover{
            @include hoverPrimary;
 
            transform: scale(1);
        }
        @each $name,$icon in $icons {
            .#{$name}{
                height:3em;
                width: 3em;
                background-image: url(".././assets/icons/#{$icon}.svg");
                background-position: center;
                background-repeat: no-repeat;
            }  
        }
        &__text{
            font: {
                weight:100;
                size: 1.2em; 
            }
            text-align: center;
            color:map-get($colors,"white");
        }
    }
}

@include media-up (sm){
    .nav{
        background-color:map-get($grays,3 );
        font-size: $font-size-base-sm;
        position: fixed;
        z-index: 2;
        bottom:0;
        width: 100%;
        background-color:$box-shadow-2;
        &__ul{
            width: 100%;
            @include dislayPosition(f,s-a,center);
            padding:  map-get($spacers,3)  map-get($spacers,3);
        }
        &__item{
            width: 100%;
            margin: 0 map-get($spacers,3);
        }
        &__link{
            @include dislayPosition(f,s-a,center);
            margin:0;
            flex-direction: column;
        }
        &__item:hover{
            @include hoverPrimary;
        }
        @each $name,$icon in $icons {
            .#{$name}{
                height:3em;
                width: 3em;
                background-image: url(".././assets/icons/#{$icon}.svg");
                background-position: center;
                background-repeat: no-repeat;
            }  
        }
        &__text{
            font: {
                weight:100;
                size: map-get($font-sizes-sm,7 ); 
            }
            text-align: center;
            color:map-get($colors,"white");
        }
    }
    
}

@include media-up (md){

    .nav{
        background-color:map-get($grays,1 );
        font-size: $font-size-base-md;
        position: relative;
        height: 100%;
        z-index: 2;
        bottom:0;
        background-color:$box-shadow-2;
      
        &__ul{
            width: 100%;
            @include dislayPosition(f,f-start,center);
            flex-direction: column;
            
            margin: map-get($spacers,3) 0;
        }
        &__item{
            
            margin:  map-get($spacers,3);
        }
        &__link{
            @include dislayPosition(f,s-a,center);
            margin:0;
            flex-direction: column;
        }
        &__item:hover{
            @include hoverPrimary;

        }

        @each $name,$icon in $icons {
            .#{$name}{
                height: 2 * $font-size-base-md;
                width: 2 * $font-size-base-md;
                background-image: url(".././assets/icons/#{$icon}.svg");
                background-position: center;
                background-repeat: no-repeat;
            }  
        }
        &__text{
            font: {
                weight:100;
                size: map-get($font-sizes-md,7); 
            }
            text-align: center;
            color:map-get($colors,"white");
        }
    }
    
}
@include media-up (lg){
    .nav{
        background-color:map-get($grays,1 );
        font-size: $font-size-base;
        position: relative;
        max-width: fit-content;
        height: 100%;
        z-index: 2;
        bottom:0;
        background-color:$box-shadow-2;
      
        &__ul{
            width: 100%;
            @include dislayPosition(f,f-start,center);
            flex-direction: column;
            margin: map-get($spacers,3) 0;
        }
        &__item{
            width: 100%;
            margin:  map-get($spacers,3);
        }
        &__link{
            @include dislayPosition(f,s-a,center);
            margin:0;
            flex-direction: column;
        }
        &__link:hover{
            @include hoverPrimary;
            
           
        }
        @each $name,$icon in $icons {
            .#{$name}{
                height: 2 * $font-size-base;
                width: 2 * $font-size-base;
                background-image: url(".././assets/icons/#{$icon}.svg");
                background-position: center;
                background-repeat: no-repeat;
            }  
        }
        &__text{
            font: {
                weight:100;
                size: map-get($font-sizes-lg,7); 
            }
            text-align: center;
            color:map-get($colors,"white");
        }
    }

}