@mixin hoverBtns($bx-shadow) {
    cursor:pointer;
    box-shadow:$bx-shadow;
    transition:  all .3s ease-in-out;
    border:none;
    opacity: 75%;
    outline:none;
}

@mixin genericBtn ($btnColor){
    background-color:$btnColor;
    font-size: 1.5em;
    @include dislayPosition(f,center,center);
    width: calc(100% - 55%);
    font: {
        family: $family-text;
        weight:400; 
    };
    margin:  map-get($spacers,1 );
    color: map-get($colors, "white");
    outline:none;
    border-radius: 3rem;
    padding:map-get($spacers,1 );
    border: none;
    height: 2.2em;
    line-height: normal;
}