@include media-up (xs){
    .title{

        font: {
            size: $font-size-base-xs;
            family:$family-title;
        }
        @include dislayPosition(f,s-b,center);

        &__section{
            font: {
                size: map-get($font-sizes-xs,2);
            }
        }
        &__section--low{
            font: {
                size: map-get($font-sizes-xs,2);
            }
        }
        &__section--low:hover{
            @include hoverPrimary;
            transform:scale(1) ;
        }
    }
}
@include media-up(sm){
    .title{
        font: {
            size: $font-size-base-sm;
            family:$family-title;
        }
        @include dislayPosition(f,s-b,center);
        &__section{
            font: {
                size: map-get($font-sizes-sm,2);
            }
        }
        &__section--low{
            font: {
                size: map-get($font-sizes-sm,2);
            }
        }
        &__section--low:hover{
            @include hoverPrimary;
            transform:scale(1) ;
        }
    }
}

@include media-up (md){

    .title{
        font: {
            size: $font-size-base-md;
            family:$family-title;
        }
   
        @include dislayPosition(f,s-b,center);

        &__section{
            font: {
                size: map-get($font-sizes-md,2);
            }
        }
        &__section--low{
      
            font: {
                size: map-get($font-sizes-md,2);
            }
        }
        &__section--low:hover{
            @include hoverPrimary;
            transform:scale(1) ;
        }
    }
}
@include media-up (lg){
    .title{

        font: {
            size: $font-size-base;
            family:$family-title;
        }
        @include dislayPosition(f,s-b,center);
        &__section{
            font: {
                size: 2em;
            }
        }
        &__section--low{
            font: {
                size:2em;
            }
        }
        &__section--low:hover{
            @include hoverPrimary;
            transform:scale(1) ;
        }
    }
}

