/* .photo-gallery {
    color:#313437;

}
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    display: flex;
    flex-wrap: nowrap;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
   */
@include media-up (xs){
    .gallery{
        padding: 0;
       
        font-size: $font-size-base-xs;
        margin:map-get($spacers,4)  map-get($spacers,4);
        
        .gallery__photos{

        }   
        .gallery__item{
            object-fit: cover;
            padding-bottom: map-get($spacers,3);
        }
        .item__link{
     
            object-fit: contain;

            border-radius: 5em;
            .item__img{
                background-position: center;
                background-size: cover;
                border-radius: 2em;
                box-shadow: $box-shadow-2;
                object-fit: cover;
            }
        }
    }
}
@include media-up (sm){
    .gallery{
        padding: 0;
       
        font-size: $font-size-base-xs;
        margin:map-get($spacers,4)  map-get($spacers,4);
        
        .gallery__photos{

        }   
        .gallery__item{
            object-fit: cover;
            padding-bottom: map-get($spacers,3);
        }
        .item__link{
     
            object-fit: contain;

            border-radius: 5em;
            .item__img{
                background-position: center;
                background-size: cover;
                border-radius: 2em;
                box-shadow: $box-shadow-2;
                object-fit: cover;
            }
        }
    }
}
@include media-up (md){
    .gallery{
        padding: 0;
       
        font-size: $font-size-base-xs;
        margin:map-get($spacers,4)  map-get($spacers,4);
        
        .gallery__photos{

        }   
        .gallery__item{
            object-fit: cover;
            padding-bottom: map-get($spacers,3);
        }
        .item__link{
     
            object-fit: contain;

            border-radius: 5em;
            .item__img{
                background-position: center;
                background-size: cover;
                border-radius: 2em;
                box-shadow: $box-shadow-2;
                object-fit: cover;
            }
        }
    }
}
@include media-up (lg){
    .gallery{

        font-size:$font-size-base;
        height: 100%;
        width: 100%;

        .gallery__photos{
            margin:map-get($spacers,6)  auto;
        }   
        .gallery__item{
            object-fit: cover;
            padding-bottom: map-get($spacers,3);
        }
        .item__link{
     
            object-fit: contain;

            border-radius: 5em;
            .item__img{
                background-position: center;
                background-size: cover;
                border-radius: 2em;
                box-shadow: $box-shadow-2;
                object-fit: cover;
            }
        }
    }
}