@keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transform: translateY(800px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @keyframes start {

  }